version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: sigma
      POSTGRES_PASSWORD: sigma_password
      POSTGRES_DB: sigma_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "127.0.0.1:6379:6379"

volumes:
  postgres_data:
